 body{
  background-color: #35393e;
  margin: 0;

 }
 nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #0a8ad2;
    background-color: black;  
};
.node-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
h5{
  padding-left: 13.5%;
  padding-top: 7%;
}
.node {
  display: inline-table;
  padding: 1%;
  height: 26.5%;
  width: 15%;
  border: 3px solid #0060ae;
  margin-top: 10%;
  margin-left: 3%;
  border-radius: 50%;
  background-color: #d3d3d3;
  align-items: center;
  font-family: palatino, serif;
  font-size: 20px;
  color: #0a8ad2;
}

.modal {
  position: absolute;
  top: 0vh;
  left: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border: 2px solid #0060ae;
  padding: .5%;
  border-radius: 4%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin-left: 1%;
  width: 15%;
  height: 18%;
}
.close-button {
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 20px;
  font-weight: bold;
  color: #0060ae;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.modal button {
  margin: 2% 0;
  width: 70%;
  height: 70%;
  border: none;
  border-radius: 5%;
  background-color: #0060ae;
  color: #d3d3d3;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
}

h4{
  align-items: center;
  font-family: palatino, serif;
  font-size: 14px;
  color: #0a8ad2;
  -webkit-text-stroke: 0.8px black;
}
.modal button:hover {
  background-color: #60ab31;
}

.modal::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #f0f0f0 transparent transparent;
}

.modal::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -3px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #0060ae transparent transparent;
}

  .change{
    width: 150px;
    height: auto;
    position: absolute;
    margin-top: -5px;
  }

  ul{
    margin-top: -2.5%;
    margin-left: 83%;
    margin-right: 1%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
  }
  .list{
    color: #0a8ad2;
  }
  .list:hover{
    color: #60ab31;
  }

  button {
    padding: 7%;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    font-family: Lato;
    font-size: 10px;
    border: none;
    background-color: #0060ae;
   }
   
   button span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 4px;
    z-index: 1;
   }
   #delay_b{
    margin-left: 32%;
    margin-top: 29.5%;
   }
   #ingress_egress{
    margin-left: 32%;
    margin-top: 15%;
   }
   .request{
    margin-left: 32%;
   }